<p id="notice"><%= notice %></p>

<p>
  <strong>Nom :</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Prénom :</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>N° de téléphone :</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Location :</strong>
  <%= @user.location %>
</p>

<%= link_to 'Retour', users_path, class: 'btn btn-default' %>
<%= link_to 'Modifier', edit_user_path(@user), class: 'btn btn-default' %>
