<%= form_for(@laundromat) do |f| %>
    <% if @laundromat.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@laundromat.errors.count, "error") %> prohibited this laundromat from being saved:</h2>

            <ul>
                <% @laundromat.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name, "Nom" %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :nbstreet, "N° de rue" %>
        <%= f.text_field :nbstreet %>
    </div>
    <div class="field">
        <%= f.label :libstreet, "Rue" %>
        <%= f.text_field :libstreet %>
    </div>
    <div class="field">
        <%= f.label :zipcode, "Code postal" %>
        <%= f.text_field :zipcode %>
    </div>
    <div class="field">
        <%= f.label :libcity, "Ville" %>
        <%= f.text_field :libcity %>
    </div>
    <div class="field">
        <%= f.label :capacity, "Capacité" %>
        <%= f.number_field :capacity %> personne(s)
    </div>

    <%= f.submit 'Valider l\'ajout', class: 'btn btn-valid' %>
<% end %>
