<p id="notice"><%= notice %></p>

<p>
  <strong>Nom : </strong>
  <%= @laundromat.name %>
</p>

<p>
  <strong>Capacité : </strong>
  <%= @laundromat.capacity %>
</p>

<p>
  <strong>N° de téléphone : </strong>
  <%= @laundromat.phone %>
</p>

<p>
  <strong>N° de rue : </strong>
  <%= @laundromat.nbstreet %>
</p>

<p>
  <strong>Rue : </strong>
  <%= @laundromat.libstreet %>
</p>

<p>
  <strong>Code postal : </strong>
  <%= @laundromat.zipcode %>
</p>

<p>
  <strong>Ville : </strong>
  <%= @laundromat.libcity %>
</p>

<%= link_to 'Retour', laundromats_path, class: 'btn btn-default' %>
<%= link_to 'Modifier', edit_laundromat_path(@laundromat), class: 'btn btn-default' %>
