<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field form-group">
        <%= f.label :laundromat_id, "Laverie" %>
        <%= f.select :laundromat_id, @laundromats.collect { |i| [i.name, i.id] }, {include_blank: '--'} %>
    </div>

    <div class="field form-group">
        <%= f.label :name, "Événement" %>
        <%= f.text_field :name %>
    </div>

    <div class="field form-group">
        <%= f.label :date, "Date" %>
        <%= f.date_select :date %>
    </div>

    <div class="field form-group">
        <%= f.label :date, "Heure" %>
        <%= f.time_select :date, :ignore_date => true %>
    </div>

    <p class="transition">
        Voulez-vous ajouter un petit mot ?
    </p>

    <div class="field form-group">
        <%= image_tag(@avatar) %>
        <%= f.text_area :message %>
    </div>

    <%= f.hidden_field :user_id, :value => session[:id] %>

    <%= f.submit 'Créer', class: 'btn btn-valid' %>
<% end %>