<% title "Événements" %>
<% himage image_tag("evenements.png", :class => "laveries", :alt => "laveries", :title => "laveries") %>

<% if @events.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Quand ?</th>
          <th>Qui ?</th>
          <th>Où ?</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td>
                <% if event.user %>
                    <%= event.user.read_attribute(:name) + ' ' + event.user.read_attribute(:surname) %>
                <% else %>
                    Aucun utilisateur sélectionné
                <% end %>
            </td>
            <td>
                <% if event.laundromat %>
                    <%= event.laundromat.read_attribute(:name) %>
                <% else %>
                    Aucune laverie sélectionnée
                <% end %>
            </td>
            <td><%= link_to 'Voir', event %></td>
            <td><%= link_to 'Modifier', edit_event_path(event) %></td>
            <td><%= link_to 'Supprimer', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <p>
        Aucun événement pour le moment.
    </p>
<% end %>
<br />

<% if session[:id] %>
    <%= link_to 'Créer un nouvel événement', new_event_path %>
<% end %>