<% title "Événements" %>
<% himage image_tag("evenements.png", :class => "laveries", :alt => "laveries", :title => "laveries") %>

<% if @events.any? %>
    <% @events.each do |event| %>
        <table class="event">
            <tr>
                <th>
                    <%= link_to event.name, event %>
                </th>
                <th>
                    <% if event.user %>
                        <%= image_tag(event.user.read_attribute(:avatar)) %>
                    <% end %>
                </th>
                <th>
                    <%= image_tag("check-gris.png") %>
                </th>
            </tr>
            <tr>
                <td>
                    <% if event.laundromat %>
                        <%= event.laundromat.read_attribute(:name) %>
                    <% else %>
                        Aucune laverie sélectionnée
                    <% end %>
                </td>
                <td>
                    <%= event.date.strftime("%d/%m/%Y") %>
                </td>
                <td>
                    <%= event.date.strftime("%HH%M") %>
                </td>
            </tr>
        </table>
    <% end %>
<% else %>
    <p>
        Aucun événement pour le moment.
    </p>
<% end %>
<br/>

<% if session[:id] %>
    <p class="creerEvenement">
        <%= link_to image_tag("creer-un-evenement.png"), new_event_path %>
    </p>
<% end %>