<p id="notice"><%= notice %></p>

<p>
  <strong>Quand ? </strong>
  <%= @event.date %>
</p>

<p>
  <strong>Qui ? </strong>
  <%= @event.user.read_attribute(:name) + ' ' + @event.user.read_attribute(:surname) %>
</p>

<p>
  <strong>Où ? </strong>
  <%= @event.laundromat.read_attribute(:name) %>
</p>

<%= link_to 'Retour', events_path, class: 'btn btn-default' %>
<%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-default' %>
