<%= form_for(@lavery) do |f| %>
  <% if @lavery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lavery.errors.count, "error") %> prohibited this lavery from being saved:</h2>

      <ul>
      <% @lavery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :laverie_id %><br>
    <%= f.number_field :laverie_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :nbmaxpers %><br>
    <%= f.text_field :nbmaxpers %>
  </div>
  <div class="field">
    <%= f.label :numtel %><br>
    <%= f.text_field :numtel %>
  </div>
  <div class="field">
    <%= f.label :numrue %><br>
    <%= f.text_field :numrue %>
  </div>
  <div class="field">
    <%= f.label :librue %><br>
    <%= f.text_field :librue %>
  </div>
  <div class="field">
    <%= f.label :cdpost %><br>
    <%= f.text_field :cdpost %>
  </div>
  <div class="field">
    <%= f.label :libville %><br>
    <%= f.text_field :libville %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
