<p id="notice"><%= notice %></p>

<p>
  <strong>Laverie:</strong>
  <%= @lavery.laverie_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lavery.name %>
</p>

<p>
  <strong>Nbmaxpers:</strong>
  <%= @lavery.nbmaxpers %>
</p>

<p>
  <strong>Numtel:</strong>
  <%= @lavery.numtel %>
</p>

<p>
  <strong>Numrue:</strong>
  <%= @lavery.numrue %>
</p>

<p>
  <strong>Librue:</strong>
  <%= @lavery.librue %>
</p>

<p>
  <strong>Cdpost:</strong>
  <%= @lavery.cdpost %>
</p>

<p>
  <strong>Libville:</strong>
  <%= @lavery.libville %>
</p>

<%= link_to 'Edit', edit_lavery_path(@lavery) %> |
<%= link_to 'Back', laveries_path %>
