<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Lave & Ris - <%= yield(:title) %></title>

    <meta name="description" content="Laveris - Application" />
    <meta name="keywords" content="application, mobile, laverie, événement" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" type="image/png" href="<%= image_url("favicon.png") %>" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
</head>
<body <% if current_page?(root_url) %>class="index"<% end %> data-no-turbolink>
    <header>
        <% if current_page?(root_url) %>
            <%= image_tag("fil-chaussettes.png", :class => "fil index", :alt => "chaussettes", :title => "chaussettes") %>
            <h1 class="logo index">
                <%= image_tag("logo.png",:title => "logo") %>
            </h1>
        <% else %>
            <%= yield(:back_arrow) %>
            <nav>
                <% if controller_name == "laundromats" %>
                    <%= link_to image_tag("bouton-laveries-survol.png", :alt => ""), laundromats_path %>
                <% else %>
                    <%= link_to image_tag("bouton-laveries.png", :alt => ""), laundromats_path %>
                <% end %>

                <% if controller_name == "events" %>
                    <%= link_to image_tag("bouton-evenement-survol.png", :alt => ""), events_path %>
                <% else %>
                    <%= link_to image_tag("bouton-evenement.png", :alt => ""), events_path %>
                <% end %>

                <% if controller_name == "users" && action_name == "profile" %>
                    <%= link_to image_tag("bouton-profil-survol.png", :alt => ""), profile_path %>
                <% else %>
                    <%= link_to image_tag("bouton-profil.png", :alt => ""), profile_path %>
                <% end %>

                <% if controller_name == "users" && action_name == "parameters" %>
                    <%= link_to image_tag("bouton-parametres-survol.png", :alt => ""), parameters_path %>
                <% else %>
                    <%= link_to image_tag("bouton-parametres.png", :alt => ""), parameters_path %>
                <% end %>
            </nav>
            <%= image_tag("logo-bleu.png", :class => "logo", :alt => "logo", :title => "logo") %>
        <% end %>
    </header>
    <% unless current_page?(root_url) %>
    <div class="header2">
        <section>
            <h1><%= yield(:title) %></h1>
            <%= yield(:himage) %>
        </section>
    </div>
    <% end %>
    <div class="container">
        <% if flash[:notice] %>
            <p class="alert alert-success">
                <%= flash[:notice] %>
            </p>
        <% end %>
        <% if flash[:error] %>
            <p class="alert alert-error">
                <%= flash[:error] %>
            </p>
        <% end %>

        <%= yield %>
    </div>
</body>
</html>
